<%- include('partials/header') %>


<div class="container">
    <div class="jumbotron centered">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Edit My Wallet Name</h1>
      <p class="secret-text">Give A New Name</p>
    
    <hr>
    
    <form action="/change-wallet-name" method="POST">

        <div class="form-name">
          <label for="wallet">Give a new name for your Wallet:</label>
          <input type="text" class="form-control text-center" name="wallet" placeholder="What's first name?" autocomplete="off" required>
           <div>
             <button type="submit" class="btn btn-primary btn-block btn-lg btn-rounded">Done</button>
          </div>
         
        </div>
       
      </form>
  </div>
</div>

<%- include('partials/footer') %>
