<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Edit My Name</h1>
    <p class="secret-text">Give A New Name</p>

    <form action="/change-name" method="POST">

      <div class="form-name">
        <label for="fname">First name:</label>
        <input type="text" class="form-control text-center" name="fName" placeholder="What's first name?" autocomplete="off" required>
        <label for="lname">Last name:</label>
        <input type="text" class="form-control text-center" name="lName" placeholder="What's last name?" autocomplete="off" required><br>
        <div>
           <button type="submit" class="btn btn-primary btn-block btn-lg btn-rounded">Done</button>
        </div>
       
      </div>
     
    </form>


  </div>
</div>
<%- include('partials/footer') %>
