
 <script>
    $(".icon").click(function(){
  $(".toggle").toggleClass("bg-light bg-dark");
  $("table").toggleClass("table-light table-dark");
  $(".brand").toggleClass("text-light text-dark");
  $(".icon").toggleClass(" text-dark");;
});
  </script>


</body>
</html>